<!DOCTYPE html>
<html>
	<head>
		<title>Vue.js with Google Maps</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			
		
	</head>
	<body>
		<div id="app">
			<div id="map"></div>
			<div class="popup container mt-5" :class="{show: isPopupVisible}">
				<div class="form-group">
					<label for="address">Endereço</label>
					<input type="text" class="form-control" id="address" placeholder="Digite um endereço">
				</div>
				<div class="form-group">
					<label for="selectGerencia">Gerência</label>
					<select class="form-control" id="selectGerencia" v-model="gerencia" @change="updateRoteiros">
						<option value="" disabled selected>Selecione...</option>
						<option v-for="gerenciaItem in gerencias" :key="gerenciaItem" :value="gerenciaItem">{{ gerenciaItem }}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="selectRoteiro">Roteiro</label>
					<select class="form-control" id="selectRoteiro" v-model="roteiro" :disabled="!gerencia">
						<option value="" disabled selected>Selecione...</option>
						<option v-for="roteiroItem in filteredRoteiros" :key="roteiroItem" :value="roteiroItem">{{ roteiroItem }}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="selectLado">Lado</label>
					<select class="form-control" id="selectLado" v-model="lado">
						<option value="" disabled selected>Selecione...</option>
						<option value="D">Lado Direito</option>
						<option value="E">Lado Esquerdo</option>
						<option value="ED" selected>Ambos</option>
					</select>
				</div>
				<div class="form-group">
					<div class="form-check" style="display: flex; align-items: center;">
						<input class="form-check-input" type="radio" name="opcao" value="deslocamento" id="radioDeslocamento" v-model="opcao">
						<label class="form-check-label" for="radioDeslocamento" id="first" style="flex: 1; text-align: left;">
						Deslocamento
						</label>
						<div style="background-color: blue; height: 20px; flex: 1;"></div>
					</div>
					<div class="form-check" style="display: flex; align-items: center;">
						<input class="form-check-input" type="radio" name="opcao" value="coleta" id="radioColeta" v-model="opcao">
						<label class="form-check-label" for="radioColeta" id="second" style="flex: 1; text-align: left;">
						Coleta
						</label>
						<div style="background-color: red; height: 20px; flex: 1;"></div>
					</div>
					<div class="form-check" style="display: flex; align-items: center;">
						<input class="form-check-input" type="radio" name="opcao" value="etr" id="radiuoEtr" v-model="opcao">
						<label class="form-check-label" for="radioEtr" id="third" style="flex: 1; text-align: left;">
						ETR
						</label>
						<div style="background-color: green; height: 20px; flex: 1;"></div>
					</div>
				</div>


				<div v-if="opcao !== 'etr'">
					<div class="form-group">
						<div class="form-check" style="display: flex; align-items: center;">
							<input class="form-check-input" type="radio" name="vetor" value="partida" id="radioPartida" v-model="vetor">
							<label class="form-check-label" for="radioPartida" id="first1" style="flex: 1; text-align: left;">
							Partida
							</label>
							<div style="background-color: blue; height: 20px; flex: 1;"></div>
						</div>
						<div class="form-check" style="display: flex; align-items: center;">
							<input class="form-check-input" type="radio" name="vetor" value="chegada" id="radioChegada" v-model="vetor">
							<label class="form-check-label" for="radioChegada" id="second2" style="flex: 1; text-align: left;">
							Chegada
							</label>
							<div style="background-color: red; height: 20px; flex: 1;"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="selectGerencia">Tipo</label>
						<select class="form-control" id="selectTipo" v-model="tipo" :disabled="!vetor" @change="updateLocais">
							<option value="" disabled selected>Selecione...</option>
							<option v-for="tipo in tipos" :key="tipo" :value="tipo">{{ tipo }}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="selectGerencia">Local</label>
						<select class="form-control" id="selectLocal" v-model="local" :disabled="!tipo"  @change="criarPontoInicial">
							<option value="" disabled selected>Selecione...</option>
							<option v-for="item in filteredLocais" :key="item.nome" :value="item.nome">{{ item.nome }}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="distanceDeslocamento">Deslocamento entre coletas</label>
						<input type="text" class="form-control" id="distanceDeslocamento" :value="formatarDeslocamento" disabled>
					</div>
					<div class="form-group">
						<label for="distanceDeslocamento">Deslocamento ETR</label>
						<input type="text" class="form-control" id="distanceETR" :value="formatarETR" disabled>
					</div>
					<div class="form-group">
						<label for="distanceColeta">Coleta</label>
						<input type="text" class="form-control" id="distanceColeta"  :value="formatarColeta" disabled>
					</div>
					<div class="form-group">
						<label for="distanceTotal">Total</label>
						<input type="text" class="form-control" id="distanceTotal" :value="formatarDistanciaTotal" disabled>
					</div>
					<div class="form-group row">
						<div class="col">
							<button class="btn btn-primary btn-block" @click="salvar">Confirmar</button>
						</div>
						<div class="col">
							<button class="btn btn-secondary btn-block" id="btnExcluir" @click="excluir">Excluir</button>
						</div>
					</div>
				</div>
				<div v-else	="opcao === 'etr'">
					<div class="form-group">
						<label for="radioRetorno">Retornar para o mesmo local?</label>
						<div class="form-check" style="display: flex; align-items: center;">
							<input class="form-check-input" type="radio" name="retorno" value="true" id="radioRetorno" v-model="retorno">
							<label class="form-check-label" for="radioRetorno" id="first3" style="flex: 1; text-align: left;">
							sim
							</label>
						</div>
						<div class="form-check" style="display: flex; align-items: center;">
							<input class="form-check-input" type="radio" name="retorno" value="false" id="radioRetorno" v-model="retorno">
							<label class="form-check-label" for="radioRetorno" id="first4" style="flex: 1; text-align: left;">
							não
							</label>
						</div>
					</div>
					
					<div class="form-group">
						<label for="selectedETR">Estação de tratamento de resíduos (ETR)</label>
						<select class="form-control" id="selectedETR" v-model="local" @change="carregarMarcadorEtrs">
							<option value="" disabled selected>Selecione...</option>
							<option v-for="item in etrs" :key="item" :value="item">{{ item }}</option>
						</select>
					</div>

					
						
				</div>
				
			</div>
		</div>
		<script>
			function initMap() {
				app.initMap();
			}

			const app = new Vue({
				el: '#app',
				data: {
					map: null,
					center: {
						lat: -22.9068,
						lng: -43.1729
					},
					vetor: null,
					zoom: 16,
					gerencias: [],
					roteiros: [],
					tipos: [],
					listaLocais: [],
					locais: [],
					etrs: [],
					polilinhas: [],
					gerencia: null,
					roteiro: null,
					lado: 'ED',
					opcao: null,
					isPopupVisible: false,
					pontos: [],
					deslocamento: 0,
					coleta: 0,
					distancia: 0,
					etr: 0,
					distanciaTotal: 0,
					inicio: null,
					fim: null,
					polilinha: null,
					tipo: null,
					local: null,
					primeiroMarcador: null,
					segundoMarcador: null,
					marcadores: [],
					retorno: true,
				},
				mounted() {
					this.loadGerencias();
					this.loadLocais();
					this.loadEtrs();
				},
				watch: {
					polilinhas: function(newVal, oldVal) {
						this.renderizarPolilinha();
					},
					vetor: function() {
						this.tipo = null;
						this.local = null;
						if (this.vetor == 'chegada') {
							this.opcao = 'deslocamento';
						}
					}

				},

				methods: {
					initMap() {
						this.map = new google.maps.Map(document.getElementById('map'), {
							center: this.center,
							zoom: this.zoom,
							draggableCursor: 'default', // Altera o cursor de pan para uma seta
							disableDoubleClickZoom: true // Desabilita o zoom no duplo clique
						});

						const button = document.createElement('button');
						button.innerHTML = '<i class="fas fa-eye"></i>';
						button.classList.add('custom-map-control-button');
						button.addEventListener('click', this.togglePopup);

						this.map.controls[google.maps.ControlPosition.TOP_RIGHT].push(button);

						// Autocomplete Address
						const addressInput = document.getElementById('address');
						const autocomplete = new google.maps.places.Autocomplete(addressInput, {
							componentRestrictions: {
								country: 'br'
							},
							fields: ['geometry', 'name'],
							types: ['address'],
						});
						autocomplete.setBounds(
							new google.maps.LatLngBounds(
								new google.maps.LatLng(-23.0838, -43.7951),
								new google.maps.LatLng(-22.7428, -43.1036),
							),
						);
						autocomplete.bindTo('bounds', this.map);

						autocomplete.addListener('place_changed', () => {
							const place = autocomplete.getPlace();
							if (!place.geometry) {
								return;
							}

							if (place.geometry.viewport) {
								this.map.fitBounds(place.geometry.viewport);
							} else {
								this.map.setCenter(place.geometry.location);
								this.map.setZoom(17);
							}
						});

						// Add double click event listener
						this.map.addListener('dblclick', (e) => {
							this.duploCliqueMapa(e.latLng);
						});


					},
					adicionarMarcador(lat, lng, label, vetor) {
						const coords = new google.maps.LatLng(lat, lng);

						const customIcon = {
							url: vetor === "partida" ? 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png' : vetor = "chegada" ? 'https://maps.google.com/mapfiles/ms/icons/red-dot.png' : 'https://maps.google.com/mapfiles/ms/icons/green-dot.png',
							scaledSize: new google.maps.Size(40, 40),
							origin: new google.maps.Point(0, 0),
							anchor: new google.maps.Point(10, 10),
						}

						const labelDiv = document.createElement('div');
						labelDiv.className = 'map-marker-label';
						labelDiv.textContent = label;

						const overlay = new google.maps.OverlayView();
						overlay.onAdd = function() {
							const layer = this.getPanes()
								.overlayLayer;
							layer.appendChild(labelDiv);
						};

						overlay.draw = function() {
							const projection = this.getProjection();
							const positionLatLng = new google.maps.LatLng(lat, lng);
							const positionPx = projection.fromLatLngToDivPixel(positionLatLng);

							labelDiv.style.left = positionPx.x + 0 + 'px';
							labelDiv.style.top = positionPx.y - 10 + 'px';
						};

						overlay.onRemove = function() {
							labelDiv.parentNode.removeChild(labelDiv);
						};

						overlay.setMap(this.map);

						const marker = new google.maps.Marker({
							position: {
								lat: lat,
								lng: lng
							},
							icon: customIcon,
							map: this.map,
							id: vetor
						});

						marker.addListener('dblclick', (event) => {

							/*
							Primeira coisa:
							Se existe uma polilinha após esse marcador inicial de PARTIDA esse marcador não pode ser removido
							*/

							if (marker.id === 'partida' && this.polilinhas.length > 1) {
								Swal.fire("aviso", "Não é possível remover o marcador inicial de partida", "warning")
								return;
							}

							/*
							Segunda coisa:
							Se não existe uma polilinha após esse marcador inicial de PARTIDA esse marcador  pode ser removido
							*/

							if (marker.id === 'partida' && this.polilinhas.length === 0) {
								this.apagarMarcadorPartida(marker, overlay);
								return;
							}


							/*
							Terceira coisa: 
							Para apagar a última polilinha, apagamos também a último trecho que concudia até ele
							*/

							if (marker.id === 'chegada') {
								this.apagarMarcadorChegada(marker, overlay);
							}
						});

						this.map.setCenter(coords);
						this.map.setZoom(17);
					},
					adicionarPonto(latLng) {
						const lat = latLng.lat();
						const lng = latLng.lng();
						this.pontos.push({
							lat,
							lng
						});
						if (this.pontos.length > 2) {
							this.pontos.shift();
						}
					},
					apagarMarcadorChegada(marcadorChegada, overlay) {

						Swal.fire({
							title: 'Aviso',
							text: 'Esse marcador será apagado. Deseja continuar?',
							icon: 'info',
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: 'Sim, faça isso!',
						}).then(async (result) => {
							if (result.isConfirmed) {

								marcadorChegada.setMap(null);
								overlay.setMap(null);


								/*
									Após remover a última polilinha, é necessário recarregar o mapa
								*/
								this.initMap();

								/*
									Após remover o marcador de chegada, é necessário apagar a polilinha que traça a rota até ele.
									Essa polilinha é a última da lista de polilinhas.
								*/

								this.polilinhas.pop();


								/*
									Então duas coisas precisam acontecer:
										1) O marcador de início precisa ser colocado de volta e a polilinha precisa ser recarregada.
										2) Porém, o this.polilinha temn um ouvinte e caso ainda haja elementos na polilinha será renderizado automaticamente na view.
										3) Vamos precisar então avaliar qual será o último ponto disponível em this.pontos para recomeçar a marcação dos trechos.

								*/

								this.adicionarMarcador(this.primeiroMarcador.latitude, this.primeiroMarcador.longitude, this.primeiroMarcador.nome, this.primeiroMarcador.vetor)


								/*
									Caso já exista uma polilinha, o inicio do próximo percurso será o final dessa polilinha restante.
									Caso não haja mais polilinhas, então o inicio será o do próprio marcador de partida.
									Caso não haja marcador de partida, será obrigatório criar um novo
								*/

								if (this.polilinhas.length > 0) {
									const {
										polilinha
									} = this.polilinhas[this.polilinhas.length - 1];
									this.adicionarPonto(polilinha[polilinha.length - 1]);
								} else {
									const coordenadas = new google.maps.LatLng(this.primeiroMarcador.latitude, this.primeiroMarcador.longitude);
									this.adicionarPonto(coordenadas);
								}

								this.tipo = null;
								this.local = null;
								this.segundoMarcador = null;


								
								Swal.fire('Feito!', 'Marcador apagado.', 'success');
							}
						});					
					},
					apagarMarcadorPartida(marcadorPartida, overlay) {
					

						Swal.fire({
							title: 'Aviso',
							text: 'Esse marcador será apagado. Deseja continuar?',
							icon: 'info',
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: 'Sim, faça isso!',
						}).then(async (result) => {
							if (result.isConfirmed) {
							this.initMap();

								/*
									Não basta remover apenas o marcador do mapa, é preciso zerar os pontos também.
									Esses pontos são as coordenadas para buscar os trechos.
									É necessário resetar tipo e local para forçar uma nova escolha.
								*/

								this.pontos = [];
								this.tipo = null;
								this.local = null;
								
								Swal.fire('Feito!', 'Marcador apagado.', 'success');
							}
						});

				

					},
					async carregarMarcadorEtrs(){
						const index = this.listaLocais.findIndex(local => local.nome === this.local);
						const etr = this.listaLocais[index];

						if(!etr){
							return;
						}
								
						const {nome, latitude, longitude} = etr;
						const latLng = new google.maps.LatLng(latitude, longitude);
						this.adicionarPonto(latLng);
						this.adicionarMarcador(latitude, longitude, nome, 'etr');
						this.pegarTrecho();
						if(this.retorno === true){

							console.log(this.retorno);

							const {lat, lng} = this.pontos[0];

							this.pontos[1] = {lat, lng};
	
							
							this.pontos[0] = {
								lat: latitude,
								lng: longitude
							}

							await this.pegarTrecho();


						}
						
					},
					closePopup() {
						this.isPopupVisible = false;
					},
					criarIconeGoogleMaps(text, map, lat, long) {
							const position = new google.maps.LatLng(lat, long);
							const div = document.createElement('div');
							div.style.backgroundColor = '#1E90FF';
							div.style.color = '#FFFFFF';
							div.style.borderRadius = '50%';
							div.style.width = '21px';
							div.style.height = '21px';
							div.style.display = 'flex';
							div.style.alignItems = 'center';
							div.style.justifyContent = 'center';
							div.style.fontSize = '14px';
							div.style.position = 'absolute';
							div.style.zIndex = '1000';  // Garante que o ícone esteja sobre a polilinha
							div.textContent = text;

							const customIcon = new google.maps.OverlayView();
							customIcon.onAdd = function() {
									const layer = this.getPanes().overlayMouseTarget; // Garante que o overlay interaja com o mouse
									layer.appendChild(div);
							};
							customIcon.draw = function() {
									const projection = this.getProjection();
									const pos = projection.fromLatLngToDivPixel(position);
									div.style.left = (pos.x - parseInt(div.style.width) / 2) + 'px';
									div.style.top = (pos.y - parseInt(div.style.height) / 2) + 'px';
							};
							customIcon.onRemove = function() {
									if (div.parentNode) {
											div.parentNode.removeChild(div);
									}
							};
							customIcon.setMap(map);

							return {
									div: div,          // Referência à div criada
									marker: customIcon // Referência ao customIcon (marcador)
							};
					},
					criarPontoInicial() {
						const local = this.listaLocais.filter(item => item.nome === this.local);
						const {
							latitude,
							longitude,
							nome
						} = local[0];

						try {
								if (this.vetor === "partida") {
									this.primeiroMarcador = {
										latitude,
										longitude,
										nome,
										vetor: this.vetor
									}
									const ponto = new google.maps.LatLng(latitude, longitude);
									this.adicionarPonto(ponto);
									this.adicionarMarcador(latitude, longitude, nome, this.vetor);

								} else {
									this.segundoMarcador = {
										latitude,
										longitude,
										nome,
										vetor: this.vetor
									}
									const pontoPartida = new google.maps.LatLng(this.primeiroMarcador.latitude, this.primeiroMarcador.longitude);
									const pontoChegada = new google.maps.LatLng(this.segundoMarcador.latitude, this.segundoMarcador.longitude);
									this.adicionarMarcador(latitude, longitude, nome, this.vetor);

									if (this.polilinhas.length > 0) {
										const polys = this.polilinhas[this.polilinhas.length - 1]
										const {
											polilinha
										} = polys;
										this.adicionarPonto(polilinha[polilinha.length - 1]);
										this.adicionarPonto(pontoChegada);
										this.pegarTrecho();
									} else {
										this.adicionarPonto(pontoPartida);
										this.adicionarPonto(pontoChegada);
										this.pegarTrecho();
									}

								}
						}catch(e){
							Swal.fire('Erro no sistema', 'Repita a operação.', 'error');
						}

						

					},
					criarQueryParams() {
						if (this.pontos.length < 2) {
							return;
						}

						const origin = `${this.pontos[0].lat},${this.pontos[0].lng}`;
						const destination = `${this.pontos[1].lat},${this.pontos[1].lng}`;
						const queryParams = `origin=${origin}&destination=${destination}`
						return queryParams;
					},
					decodificarOverwiewPolyline(points) {
						return google.maps.geometry.encoding.decodePath(points);
					},
					duploCliqueMapa(latLng) {
						if (!this.testarDadosDoFormulario()) {
							return;
						}


						this.adicionarPonto(latLng);
						this.pegarTrecho();
					},
					extrairDadosDoPayload(data) {
						const {
							routes
						} = data;
						const {
							legs,
							overview_polyline
						} = routes[0];
						const {
							distance,
							end_address,
							start_address
						} = legs[0];
						const {
							points
						} = overview_polyline;
						const {
							value
						} = distance;

						if (this.opcao == 'deslocamento') {
							this.deslocamento = this.deslocamento + value;
						}

						if (this.opcao == 'coleta') {
							this.coleta = this.coleta + value;
						}

						if (this.opcao == 'etr') {
							this.etr = this.etr + value;
						}

						this.distanciaTotal = this.deslocamento + this.coleta;
						this.distancia = value;

						this.inicio = start_address;
						this.fim = end_address;
						this.polilinha = this.decodificarOverwiewPolyline(points);

						const obj = {
							inicio: this.inicio,
							fim: this.fim,
							polilinha: this.polilinha,
							distancia: this.distancia,
							gerecia: this.gerencia,
							roteiro: this.roteiro,
							lado: this.lado,
							opcao: this.opcao,
							uid: this.gerarUUIDv4(),
							id: Date.now(),
						}

						this.polilinhas.push(obj);
					},
					excluir() {
						console.log('Excluído os valores:');
						console.log('Gerência:', this.gerencia);
						console.log('Roteiro:', this.roteiro);
						console.log('Lado:', this.lado);
						console.log('Opção:', this.opcao);
					},
					formataMedidas(medida) {
						const unidade = (medida === 0 ? 'metro' : (medida < 1000 ? 'metros' : 'km'));

						if (medida > 1000) {
							medida = (medida / 1000)
								.toFixed(1);
						}

						const result = `${medida} ${unidade}`;
						return result;
					},
					gerarUUIDv4() {
						// Create an array of 16 bytes (128 bits)
						const cryptoObj = window.crypto || window.msCrypto; // for IE 11
						const bytes = new Uint8Array(16);
						cryptoObj.getRandomValues(bytes);

						// Set the version number (4)
						bytes[6] = (bytes[6] & 0x0f) | 0x40;
						// Set the variant (1-0-1-0)
						bytes[8] = (bytes[8] & 0x3f) | 0x80;

						// Convert bytes to hex
						const hexBytes = Array.from(bytes, (byte) => {
							return byte.toString(16)
								.padStart(2, '0');
						});

						// Insert hyphens to format the UUID
						return (
							hexBytes.slice(0, 4)
							.join('') + '-' +
							hexBytes.slice(4, 6)
							.join('') + '-' +
							hexBytes.slice(6, 8)
							.join('') + '-' +
							hexBytes.slice(8, 10)
							.join('') + '-' +
							hexBytes.slice(10, 16)
							.join('')
						);
					},
					loadGerencias() {
						fetch('data.json')
							.then(response => response.json())
							.then(data => {
								const gerencias = new Set();
								data.forEach(item => {
									gerencias.add(item.gerencia);
								});
								this.gerencias = Array.from(gerencias);
								this.roteiros = data;
							});
					},
					loadLocais() {
						fetch('dados.json')
							.then(response => response.json())
							.then(data => {
								const tipos = new Set();
								const locais = new Set();
								const listaLocais = new Set();
								data.forEach(item => {
									locais.add({
										nome: item.nome,
										tipo: item.tipo
									});
									listaLocais.add(item);
									tipos.add(item.tipo);
								});

								this.locais = Array.from(locais);
								this.tipos = Array.from(tipos);
								this.listaLocais = Array.from(listaLocais);
							});
					},
					loadEtrs() {
						fetch('./etrs.json')
							.then(response => response.json())
							.then(data => {
								const etrs = new Set();
								data.forEach(item => {
									if(item.tipo == 'ETR'){
										etrs.add(item.nome);
									}									
								});

								this.etrs = Array.from(etrs);
							});
					},
					mudarParaColeta(uid, infowindow) {
						const index = this.polilinhas.findIndex(obj => obj.uid === uid);
						const {
							distancia,
							opcao
						} = this.polilinhas[index];

						if (opcao === "coleta") {
							return;
						}

						this.deslocamento -= distancia;
						this.coleta += distancia;

						this.polilinhas = this.polilinhas.map((polyline, i) =>
							i === index ? {
								...polyline,
								opcao: "coleta"
							} : polyline
						);

						infowindow.close();
					},
					mudarParaDeslocamento(uid, infowindow) {
						const index = this.polilinhas.findIndex(obj => obj.uid === uid);
						const {
							distancia,
							opcao
						} = this.polilinhas[index];

						if (opcao === "deslocamento") {
							return;
						}

						this.deslocamento += distancia;
						this.coleta -= distancia;

						this.polilinhas = this.polilinhas.map((polyline, i) =>
							i === index ? {
								...polyline,
								opcao: "deslocamento"
							} : polyline
						);

						infowindow.close();
					},
					pegarTrecho() {
						if (this.pontos.length < 2) {
							return;
						}

						const url = `https://laboratorio-python-fczdesenvolvime.replit.app/directions?${this.criarQueryParams()}`

						axios.get(url)
							.then(response => {
								this.extrairDadosDoPayload(response.data);
							})
							.catch(error => console.log(error));
					},
					removerTrecho(uid, poly, infowindow, div, marker) {

						function removerMarcador(customIcon, div) {
								customIcon.setMap(null);  // Remove o marcador do mapa
								if (div.parentNode) {
										div.parentNode.removeChild(div);  // Remove o elemento div do DOM
								}
						}

						if(this.segundoMarcador !== null){
							Swal.fire("Atenção","Operação negada", "warning" );
							return;
						}

						Swal.fire({
							title: 'Aviso',
							text: 'Esse marcador trecho será removido. Deseja continuar?',
							icon: 'info',
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: 'Sim, faça isso!',
						}).then(async (result) => {
							if (result.isConfirmed) {
								/*
									Remover a polilinha da lista de polilinhas e do mapa.
									Só será permitido remover a última linha da lista de polilinhas.
								*/

								const index = this.polilinhas.findIndex(obj => obj.uid === uid);
								const {
									distancia,
									opcao
								} = this.polilinhas[index];

								if (opcao === "deslocamento") {
									this.deslocamento -= distancia;
								} else {
									this.coleta -= distancia;
								}

								this.distanciaTotal -= distancia;

								const len = this.polilinhas.length;

								if (index !== len - 1) {
									Swal.fire("aviso", "Não é possível remover o trecho", "warning");
									return;
								}

								poly.setMap(null);
								removerMarcador(marker, div);
								this.polilinhas.pop()

								/*
									Agora será necessário atribuir o ultimo ponto da polilinha a última coordenada da nova última polilinha.
									Se houver ainda auma polilinha, deve-se pegar o ultimo ponto dessa polilinha para setar as posições do this.pontos.
									Caso não, deve ser utilizada a coordenada do marcador de partida.
									Também deverá ser observado que a o deslocamento, a coleta e o total devem ser decrementado.							
								*/

								if (this.polilinhas.length > 0) {
									const {
										polilinha
									} = this.polilinhas[this.polilinhas.length - 1];
									this.adicionarPonto(polilinha[polilinha.length - 1]);

								} else {
									this.adicionarMarcador(this.primeiroMarcador.latitude, this.primeiroMarcador.longitude, this.primeiroMarcador.nome, this.primeiroMarcador.vetor);
									this.adicionarPonto(new google.maps.LatLng(this.primeiroMarcador.latitude, this.primeiroMarcador.longitude));
								}


								infowindow.close();
								Swal.fire('Feito!', 'Trecho removido.', 'success');
							}
						});
						
						

					},
					renderizarPolilinha() {
						// Remover todas as polylines do mapa
						this.polilinhas.forEach(polylineObj => {
							if (polylineObj.polyline) {
								polylineObj.polyline.setMap(null);
							}
						});

						// Adicionar novas polilines ao mapa
						this.polilinhas.forEach((polylineObj, index) => {
							const ultimaPosicao = polylineObj.polilinha.length - 1;
							const ponto = polylineObj.polilinha[ultimaPosicao];
							const {div, marker} = this.criarIconeGoogleMaps(index + 1, this.map, ponto.lat(), ponto.lng());
							

							const polylineOptions = {
								path: polylineObj.polilinha,
								geodesic: true,
								strokeColor: polylineObj.opcao === 'deslocamento' ? 'blue' : polylineObj.opcao === 'coleta' ? 'red' : 'green',
								strokeOpacity: 1.0,
								strokeWeight: polylineObj.opcao === 'deslocamento' ? 4 : 5,
								icons: (polylineObj.opcao !== 'coleta') ? [{
									icon: {
										path: 'M 0,-1 0,1',
										strokeOpacity: 1,
										strokeColor: 'white',
										scale: 4
									},
									offset: '0',
									repeat: '20px'
								}] : []
							};

							const polyline = new google.maps.Polyline(polylineOptions);

							polyline.addListener('rightclick', (event) => {
								const {
									uid
								} = polylineObj;
								const contentDiv = document.createElement('div');
								contentDiv.className = 'popup-content';

								const button1 = document.createElement('button');
								button1.textContent = 'Mudar para deslocamento';
								button1.dataset.uid = uid;
								button1.onclick = () => this.mudarParaDeslocamento(uid, infowindow);

								const button2 = document.createElement('button');
								button2.textContent = 'Mudar para coleta';
								button2.dataset.uid = uid;
								button2.onclick = () => this.mudarParaColeta(uid, infowindow);

								const button3 = document.createElement('button');
								button3.textContent = 'Remover trecho';
								button3.dataset.uid = uid;
								button3.onclick = () => {
									
									this.removerTrecho(uid, polyline, infowindow, div, marker)
								};

								contentDiv.appendChild(button1);
								contentDiv.appendChild(button2);
								contentDiv.appendChild(button3);

								const infowindow = new google.maps.InfoWindow({
									content: contentDiv,
									position: event.latLng
								});

								infowindow.open(this.map);

							});
							polyline.setMap(this.map);
							// polylineObj.polyline = polyline;
						});
					},
					async salvar() {

						if(!this.primeiroMarcador || !this.segundoMarcador){
							Swal.fire('Aviso', 'Crie uma rota completa antes de salvar', 'warning');
							return
						}
						
						for(let poly  of this.polilinhas){
							poly.polilinha = google.maps.geometry.encoding.encodePath(poly.polilinha);
							console.log(poly);
						}
					},
					testarDadosDoFormulario() {

						async function mostrarAvisoCampoAusente(campo) {
							Swal.fire("Oops!", `Preencha o campo ${campo}`, "error")
						}

						if (!this.gerencia) {
							mostrarAvisoCampoAusente('gerência');


							return false;
						} else if (!this.roteiro) {
							mostrarAvisoCampoAusente('roteiro');


							return false;
						} else if (!this.lado) {
							mostrarAvisoCampoAusente('lado');


							return false;
						} else if (!this.opcao) {
							mostrarAvisoCampoAusente('opção');


							return false;
						} else if (!this.vetor) {
							mostrarAvisoCampoAusente('partida');


							return false;
						} else if (!this.tipo) {
							mostrarAvisoCampoAusente('tipo');

							return false;
						} else if (!this.local) {
							mostrarAvisoCampoAusente('local');


							return false;
						} else {
							return true
						}

						return true;

					},
					togglePopup() {
						this.isPopupVisible = !this.isPopupVisible;
						const button = document.querySelector('.custom-map-control-button i');
						button.className = this.isPopupVisible ? 'fas fa-eye-slash' : 'fas fa-eye';
					},
					updateLocais() {
						this.local = ''; // Reset the selected roteiro
					},
					updateRoteiros() {
						this.roteiro = ''; // Reset the selected roteiro
					},
				},
				computed: {
					filteredRoteiros() {
						return this.roteiros
							.filter(item => item.gerencia === this.gerencia)
							.map(item => item.roteiro);
					},
					filteredLocais() {
						return this.locais
							.filter(item => item.tipo === this.tipo)
							.map(item => item);
					},
					formatarDeslocamento() {
						return this.formataMedidas(this.deslocamento);
					},
					formatarETR() {
						return this.formataMedidas(this.etr);
					},
					formatarColeta() {
						return this.formataMedidas(this.coleta);
					},
					formatarDistanciaTotal() {
						this.distanciaTotal = this.deslocamento + this.coleta;
						return this.formataMedidas(this.distanciaTotal);
					},

				}
			});
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEtTyl_0cTzYe39SIdOmWSJ0rI-H3F_Os&callback=initMap&libraries=places,geometry" async defer></script>
	</body>
</html>