<!DOCTYPE html>
<html>
	<head>
		<title>Vue.js with Google Maps</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
			
		
	</head>
	<body>
		<div id="app">
			<div id="map"></div>
			<div class="popup container mt-5" :class="{show: isPopupVisible}">
				<div class="form-group">
					<label for="address">Endereço</label>
					<input type="text" class="form-control" id="address" placeholder="Digite um endereço">
				</div>
				<div class="form-group">
					<label for="selectGerencia">Gerência</label>
					<select class="form-control" id="selectGerencia" v-model="gerencia" @change="updateRoteiros">
						<option value="" disabled selected>Selecione...</option>
						<option v-for="gerenciaItem in gerencias" :key="gerenciaItem" :value="gerenciaItem">{{ gerenciaItem }}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="selectRoteiro">Roteiro</label>
					<select class="form-control" id="selectRoteiro" v-model="roteiro" :disabled="!gerencia">
						<option value="" disabled selected>Selecione...</option>
						<option v-for="roteiroItem in filteredRoteiros" :key="roteiroItem" :value="roteiroItem">{{ roteiroItem }}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="selectLado">Lado</label>
					<select class="form-control" id="selectLado" v-model="lado">
						<option value="" disabled selected>Selecione...</option>
						<option value="D">Lado Direito</option>
						<option value="E">Lado Esquerdo</option>
						<option value="ED">Ambos</option>
					</select>
				</div>
				<div class="form-group">
					<div class="form-check" style="display: flex; align-items: center;">
						<input class="form-check-input" type="radio" name="opcao" value="deslocamento" id="radioDeslocamento" v-model="opcao">
						<label class="form-check-label" for="radioDeslocamento" id="first" style="flex: 1; text-align: left;">
						Deslocamento
						</label>
						<div style="background-color: blue; height: 20px; flex: 1;"></div>
					</div>
					<div class="form-check" style="display: flex; align-items: center;">
						<input class="form-check-input" type="radio" name="opcao" value="coleta" id="radioColeta" v-model="opcao">
						<label class="form-check-label" for="radioColeta" id="second" style="flex: 1; text-align: left;">
						Coleta
						</label>
						<div style="background-color: red; height: 20px; flex: 1;"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="form-check" style="display: flex; align-items: center;">
						<input class="form-check-input" type="radio" name="vetor" value="partida" id="radioPartida" v-model="vetor">
						<label class="form-check-label" for="radioPartida" id="first1" style="flex: 1; text-align: left;">
						Partida
						</label>
						<div style="background-color: blue; height: 20px; flex: 1;"></div>
					</div>
					<div class="form-check" style="display: flex; align-items: center;">
						<input class="form-check-input" type="radio" name="vetor" value="chegada" id="radioChegada" v-model="vetor">
						<label class="form-check-label" for="radioChegada" id="second2" style="flex: 1; text-align: left;">
						Chegada
						</label>
						<div style="background-color: red; height: 20px; flex: 1;"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="selectGerencia">Tipo</label>
					<select class="form-control" id="selectTipo" v-model="tipo" :disabled="!vetor" @change="updateLocais">
						<option value="" disabled selected>Selecione...</option>
						<option v-for="tipo in tipos" :key="tipo" :value="tipo">{{ tipo }}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="selectGerencia">Local</label>
					<select class="form-control" id="selectLocal" v-model="local" :disabled="!tipo"  @change="criarPontoInicial">
						<option value="" disabled selected>Selecione...</option>
						<option v-for="item in filteredLocais" :key="item.nome" :value="item.nome">{{ item.nome }}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="distanceDeslocamento">Deslocamento</label>
					<input type="text" class="form-control" id="distanceDeslocamento" :value="formatarDeslocamento" disabled>
				</div>
				<div class="form-group">
					<label for="distanceColeta">Coleta</label>
					<input type="text" class="form-control" id="distanceColeta"  :value="formatarColeta" disabled>
				</div>
				<div class="form-group">
					<label for="distanceTotal">Total</label>
					<input type="text" class="form-control" id="distanceTotal" :value="formatarDistanciaTotal" disabled>
				</div>
				<div class="form-group row">
					<div class="col">
						<button class="btn btn-primary btn-block" @click="salvar">Confirmar</button>
					</div>
					<div class="col">
						<button class="btn btn-secondary btn-block" id="btnExcluir" @click="excluir">Excluir</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			function initMap() {
				app.initMap();
			}

			const app = new Vue({
				el: '#app',
				data: {
					map: null,
					center: {
						lat: -22.9068,
						lng: -43.1729
					},
					vetor: null,
					zoom: 16,
					gerencias: [],
					roteiros: [],
					tipos: [],
					listaLocais: [],
					locais: [],
					polilinhas: [],
					gerencia: null,
					roteiro: null,
					lado: null,
					opcao: null,
					isPopupVisible: false,
					pontos: [],
					deslocamento: 0,
					coleta: 0,
					distancia: 0,
					distanciaTotal: 0,
					inicio: null,
					fim: null,
					polilinha: null,
					tipo: null,
					local: null,
				},
				mounted() {
					this.loadGerencias();
					this.loadLocais();
				},
				watch: {
					polilinhas: function(newVal, oldVal) {
						this.renderizarPolilinha();
					},
					vetor: function() {
						this.tipo = null;
						this.local = null;
						if (this.vetor == 'chegada') {
							this.opcao = 'deslocamento';
						}
					},

				},
				methods: {
					initMap() {
						this.map = new google.maps.Map(document.getElementById('map'), {
							center: this.center,
							zoom: this.zoom,
							draggableCursor: 'default', // Altera o cursor de pan para uma seta
							disableDoubleClickZoom: true // Desabilita o zoom no duplo clique
						});

						console.log("mapa iniciado");

						const button = document.createElement('button');
						button.innerHTML = '<i class="fas fa-eye"></i>';
						button.classList.add('custom-map-control-button');
						button.addEventListener('click', this.togglePopup);

						this.map.controls[google.maps.ControlPosition.TOP_RIGHT].push(button);

						// Autocomplete Address
						const addressInput = document.getElementById('address');
						const autocomplete = new google.maps.places.Autocomplete(addressInput, {
							componentRestrictions: {
								country: 'br'
							},
							fields: ['geometry', 'name'],
							types: ['address'],
						});
						autocomplete.setBounds(
							new google.maps.LatLngBounds(
								new google.maps.LatLng(-23.0838, -43.7951),
								new google.maps.LatLng(-22.7428, -43.1036),
							),
						);
						autocomplete.bindTo('bounds', this.map);

						autocomplete.addListener('place_changed', () => {
							const place = autocomplete.getPlace();
							if (!place.geometry) {
								console.log("No details available for input: '" + place.name + "'");
								return;
							}

							if (place.geometry.viewport) {
								this.map.fitBounds(place.geometry.viewport);
							} else {
								this.map.setCenter(place.geometry.location);
								this.map.setZoom(17);
							}
						});

						// Add double click event listener
						this.map.addListener('dblclick', (e) => {
							this.duploCliqueMapa(e.latLng);
						});


					},
					closePopup() {
						this.isPopupVisible = false;
					},
					togglePopup() {
						this.isPopupVisible = !this.isPopupVisible;
						const button = document.querySelector('.custom-map-control-button i');
						button.className = this.isPopupVisible ? 'fas fa-eye-slash' : 'fas fa-eye';
					},
					loadGerencias() {
						fetch('data.json')
							.then(response => response.json())
							.then(data => {
								const gerencias = new Set();
								data.forEach(item => {
									gerencias.add(item.gerencia);
								});
								this.gerencias = Array.from(gerencias);
								this.roteiros = data;
							});
					},
					loadLocais() {
						fetch('locais.json')
							.then(response => response.json())
							.then(data => {
								const tipos = new Set();
								const locais = new Set();
								const listaLocais = new Set();
								data.forEach(item => {
									locais.add({
										nome: item.nome,
										tipo: item.tipo
									});
									listaLocais.add(item);
									tipos.add(item.tipo);
								});

								this.locais = Array.from(locais);
								this.tipos = Array.from(tipos);
								this.listaLocais = Array.from(listaLocais);
							});
					},
					updateRoteiros() {
						this.roteiro = '';
					},
					updateLocais() {
						this.local = '';
					},
					salvar() {
						console.log('Gerência:', this.gerencia);
						console.log('Roteiro:', this.roteiro);
						console.log('Lado:', this.lado);
						console.log('Opção:', this.opcao);
					},
					excluir() {
						console.log('Excluído os valores:');
						console.log('Gerência:', this.gerencia);
						console.log('Roteiro:', this.roteiro);
						console.log('Lado:', this.lado);
						console.log('Opção:', this.opcao);
					},
					testarDadosDoFormulario() {
						return (!this.gerencia || !this.roteiro || !this.lado || !this.opcao) ? false : true;
					},
					duploCliqueMapa(latLng) {

						if (!this.testarDadosDoFormulario()) {
							alert('Preencha os campos corretamente!');
							return;
						}


						this.adicionarPonto(latLng);
						this.pegarTrecho();
					},
					adicionarPonto(latLng) {

						const lat = latLng.lat();
						const lng = latLng.lng();
						this.pontos.push({
							lat,
							lng
						});
						if (this.pontos.length > 2) {
							this.pontos.shift();
						}
					},
					criarQueryParams() {
						if (this.pontos.length < 2) {
							return;
						}

						const origin = `${this.pontos[0].lat},${this.pontos[0].lng}`;
						const destination = `${this.pontos[1].lat},${this.pontos[1].lng}`;
						const queryParams = `origin=${origin}&destination=${destination}`
						return queryParams;
					},
					pegarTrecho() {
						if (this.pontos.length < 2) {
							return;
						}
						const url = `https://laboratorio-python-fczdesenvolvime.replit.app/directions?${this.criarQueryParams()}`
						axios.get(url)
							.then(response => {
								this.extrairDadosDoPayload(response.data);
							})
							.catch(error => console.log(error));
					},
					extrairDadosDoPayload(data) {
						const {
							routes
						} = data;
						const {
							legs,
							overview_polyline
						} = routes[0];
						const {
							distance,
							end_address,
							start_address
						} = legs[0];
						const {
							points
						} = overview_polyline;
						const {
							value
						} = distance;

						if (this.opcao == 'deslocamento') {
							this.deslocamento = this.deslocamento + value;
						}

						if (this.opcao == 'coleta') {
							this.coleta = this.coleta + value;
						}

						this.distanciaTotal = this.deslocamento + this.coleta;
						this.distancia = value;

						this.inicio = start_address;
						this.fim = end_address;
						this.polilinha = this.decodificarOverwiewPolyline(points);

						const obj = {
							inicio: this.inicio,
							fim: this.fim,
							polilinha: this.polilinha,
							distancia: this.distancia,
							gerecia: this.gerencia,
							roteiro: this.roteiro,
							lado: this.lado,
							opcao: this.opcao,
							uid: this.gerarUUIDv4(),
						}

						this.polilinhas.push(obj);

					},
					decodificarOverwiewPolyline(points) {
						return google.maps.geometry.encoding.decodePath(points);
					},
					renderizarPolilinha() {
						// Remover todas as polylines do mapa
						this.polilinhas.forEach(polylineObj => {
							if (polylineObj.polyline) {
								polylineObj.polyline.setMap(null);
							}
						});

						// Adicionar novas polylines ao mapa
						this.polilinhas.forEach(polylineObj => {
							const polylineOptions = {
								path: polylineObj.polilinha,
								geodesic: true,
								strokeColor: polylineObj.opcao === 'deslocamento' ? 'blue' : 'red',
								strokeOpacity: 1.0,
								strokeWeight: polylineObj.opcao === 'deslocamento' ? 4 : 5,
								icons: polylineObj.opcao === 'deslocamento' ? [{
									icon: {
										path: 'M 0,-1 0,1',
										strokeOpacity: 1,
										strokeColor: 'white',
										scale: 4
									},
									offset: '0',
									repeat: '20px'
								}] : []
							};

							const polyline = new google.maps.Polyline(polylineOptions);

							polyline.addListener('rightclick', (event) => {
								const { uid } = polylineObj;
								const contentDiv = document.createElement('div');
								contentDiv.className = 'popup-content';

								const button1 = document.createElement('button');
								button1.textContent = 'Mudar para deslocamento';
								button1.dataset.uid = uid;
								button1.onclick = () => this.mudarParaDeslocamento(uid);

								const button2 = document.createElement('button');
								button2.textContent = 'Mudar para coleta';
								button2.dataset.uid = uid;
								button2.onclick = () => this.mudarParaColeta(uid);

								const button3 = document.createElement('button');
								button3.textContent = 'Remover trecho';
								button3.dataset.uid = uid;
								button3.onclick = () => this.removerTrecho(uid);

								contentDiv.appendChild(button1);
								contentDiv.appendChild(button2);
								contentDiv.appendChild(button3);

								const infowindow = new google.maps.InfoWindow({
									content: contentDiv,
									position: event.latLng
								});

								infowindow.open(this.map);
								
							});
							polyline.setMap(this.map);
							polylineObj.polyline = polyline;
						});
					},
					criarPontoInicial() {
						const local = this.listaLocais.filter(item => item.nome === this.local);
						const {
							latitude,
							longitude,
							nome
						} = local[0];
						this.adicionarMarcador(latitude, longitude, nome);
					},
					adicionarMarcador(lat, lng, label) {
						const coords = new google.maps.LatLng(lat, lng);
						this.adicionarPonto(coords);

						const customIcon = {
							url: this.vetor === "partida" ? 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png' : 'https://maps.google.com/mapfiles/ms/icons/red-dot.png',
							scaledSize: new google.maps.Size(40, 40),
							origin: new google.maps.Point(0, 0),
							anchor: new google.maps.Point(10, 10),
						}

						const labelDiv = document.createElement('div');
						labelDiv.className = 'map-marker-label';
						labelDiv.textContent = label;

						const overlay = new google.maps.OverlayView();
						overlay.onAdd = function() {
							const layer = this.getPanes().overlayLayer;
							layer.appendChild(labelDiv);
						};

						overlay.draw = function() {
							const projection = this.getProjection();
							const positionLatLng = new google.maps.LatLng(lat, lng);
							const positionPx = projection.fromLatLngToDivPixel(positionLatLng);

							labelDiv.style.left = positionPx.x + 0 + 'px';
							labelDiv.style.top = positionPx.y - 10 + 'px';
						};

						overlay.onRemove = function() {
							labelDiv.parentNode.removeChild(labelDiv);
						};

						overlay.setMap(this.map);

						const marker = new google.maps.Marker({
							position: {
								lat: lat,
								lng: lng
							},
							icon: customIcon,
							map: this.map
						});

						if (this.vetor === "chegada") {
							this.pegarTrecho();
						}

						this.map.setCenter(coords);
						this.map.setZoom(17);

					},
					formataMedidas(medida) {
						const unidade = (medida === 0 ? 'metro' : (medida < 1000 ? 'metros' : 'km'));


						if (medida > 1000) {
							medida = (medida / 1000).toFixed(1);
						}

						const result = `${medida} ${unidade}`;
						return result;
					},
					gerarUUIDv4() {
						// Create an array of 16 bytes (128 bits)
						const cryptoObj = window.crypto || window.msCrypto; // for IE 11
						const bytes = new Uint8Array(16);
						cryptoObj.getRandomValues(bytes);

						// Set the version number (4)
						bytes[6] = (bytes[6] & 0x0f) | 0x40;
						// Set the variant (1-0-1-0)
						bytes[8] = (bytes[8] & 0x3f) | 0x80;

						// Convert bytes to hex
						const hexBytes = Array.from(bytes, (byte) => {
							return byte.toString(16).padStart(2, '0');
						});

						// Insert hyphens to format the UUID
						return (
							hexBytes.slice(0, 4).join('') + '-' +
							hexBytes.slice(4, 6).join('') + '-' +
							hexBytes.slice(6, 8).join('') + '-' +
							hexBytes.slice(8, 10).join('') + '-' +
							hexBytes.slice(10, 16).join('')
						);
					},
					mudarParaDeslocamento(uid) {
						console.log('Mudar para deslocamento', uid);
						const index = this.polilinhas.findIndex(obj => obj.uid === uid);

						this.polilinhas = this.polilinhas.map((polyline, i) => 
							i === index ? { ...polyline, opcao: "deslocamento" } : polyline
						);
					},
					mudarParaColeta(uid) {
						console.log('Mudar para coleta', uid);
						const index = this.polilinhas.findIndex(obj => obj.uid === uid);

						this.polilinhas = this.polilinhas.map((polyline, i) => 
							i === index ? { ...polyline, opcao: "coleta" } : polyline
						);
					},
					removerTrecho(uid) {
						console.log('apagar polilinha', uid);
						const index = this.polilinhas.findIndex(obj => obj.uid === uid);

						if(index != this.polilinhas.length - 1){
							alert("Operação negada");
							return;
						}

						this.polilinhas = this.polilinhas.filter(x => x.uid !== uid);
						const {lat, lng} = this.pontos[0];
						this.initMap();
						this.map.setCenter({lat, lng});
						this.map.setZoom(17);
						this.pontos[1] = this.pontos[0];
					},
					

				},
				computed: {
					filteredRoteiros() {
						return this.roteiros
							.filter(item => item.gerencia === this.gerencia)
							.map(item => item.roteiro);
					},
					filteredLocais() {
						return this.locais
							.filter(item => item.tipo === this.tipo)
							.map(item => item);
					},
					formatarDeslocamento() {
						return this.formataMedidas(this.deslocamento);
					},
					formatarColeta() {
						return this.formataMedidas(this.coleta);
					},
					formatarDistanciaTotal() {
						return this.formataMedidas(this.distanciaTotal);
					},

				}
			});
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEtTyl_0cTzYe39SIdOmWSJ0rI-H3F_Os&callback=initMap&libraries=places,geometry" async defer></script>
	</body>
</html>