body, html {
  height: 100%;
  margin: 0;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#map {
  flex: 1;
}
.table-container {
  flex: 0 0 25%;
  overflow-y: auto;
}

.popup {
 display: none;
 position: absolute;
 top: 10px;
 left: 10px;
 width: 300px;
 background: #fff;
 box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
 padding: 20px;
 border-radius: 5px;
 z-index: 10;
 max-height: 80vh;
 overflow-y: auto;
}
.show {
 display: block !important;
}
.custom-map-control-button {
 background-color: #d4f7d4;
 border: none;
 outline: none;
 width: 40px;
 height: 40px;
 border-radius: 2px;
 box-shadow: 0 2px 6px rgba(0,0,0,.3);
 cursor: pointer;
 margin-right: 10px;
 margin-top: 10px;
}
.custom-map-control-button:hover {
 background-color: #ebebeb;
}

.popup {
  width: 75%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.popup.show {
  opacity: 1;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup-content button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.map-marker-label {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 2px 5px;
  position: absolute;
  transform: translate(-50%, -100%);
  white-space: nowrap;
}

@media (min-width: 576px) {
  .popup {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .popup {
    width: 30%;
  }
}

.linha-tracejada-azul {
  border-top: 2px dashed blue;
  width: 50%;
  margin-left: 10px;
}

.linha-vermelha {
  border-top: 2px solid red;
  width: 50%;
  margin-left: 10px;
}

.linha-tracejada-verde {
  border-top: 2px dashed green;
  width: 50%;
  margin-left: 10px;
}

.marcadorPartida, .marcadorChegada {
  height: 20px;
  width: 30%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  margin-left: 50%;
  transform: translateX(-50%);
}

.marcadorChegada {
  background-image: url('./_chegada.jpg');
}

.marcadorPartida {
  background-image: url('./partida.jpg');
}



.print-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  padding: 4px;
}

.icon-hover {
  color: #191970;
  transition: color 0.3s ease;
  font-size: 20px;
}

.print-btn:hover .icon-hover {
  color: #00BFFF;
}

.print-btn
